.container{
	margin:0;
	text-align: center;
	font-family: "Roboto",sans-serif;
	padding-top: 30px;
}
.title{
	font-size: 40px;
	color: #2c3e50;
/*	border-style: solid;*/
/*	border-color:black ;*/
}

.timer{
	font-size: 80px;
	color:#2c3e50;
/*	border-style: solid;*/
/*	border-color: black;*/
	margin-top: 5vw;
}
.button{
	margin-top: -5vw;
/*	border-style: solid;*/
/*	border-color: black;*/

}
button{
	margin:3vw 1vw;
	padding: 1vw 1vw;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	color:white;
	cursor:pointer;
	text-transform: uppercase;
	transition: opacity 0.3s ease-in-out;



}
button:hover {
  opacity: 0.7;
}
#start {
  background-color: green;
}

#stop {
  background-color: red;
}

#reset {
  background-color: grey;
}